/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Google font family */
@font-face {
  font-family: montserrat-font;
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

/* global root for all properties */
:root {
  /* font-family */
  --font: montserrat-font;
  /* borders and border-radius */
  --border: 1px solid white;
  /* background-color and color pallete */
  --bg-color: #0f1729;
  --card-bg: #1e293b;
  --primary-color: #3b82f6;
  --hover-color: #2563eb;
  --text-color: #ffffff;
  --para-text: #94a3b8;
  --border-color: #334155;
  /* font-sizes */
  --navbar-logo: 24px;
  --navbar-link: 16px;
  --hero-title: 48px;
  --hero-subtitle: 26px;
  --hero-desc: 18px;
  --button: 16px;
  --section-title: 36px;
  --project-title: 22px;
  --card-text: 16px;
  --small-text: 14px;
  --footer-text: 14px;
}

/* main container */
.mainContainer {
  /* border: var(--border); */
  width: 100%;
  font-family: var(--font);
  background-color: var(--bg-color);
}

/* headerSection */
.navBar {
  /* border: var(--border); */
  width: 95%;
  margin: auto;
  height: 10vh;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}
.navLogo {
  font-size: var(--navbar-logo);
  font-weight: bold;
  text-transform: capitalize;
}
.navLists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}
.navItem a {
  /* border: var(--border); */
  text-decoration: none;
  font-size: var(--navbar-link);
  padding: 5px 8px;
  color: var(--text-color);
  transition: all 0.2s ease;
}
.navItem a:hover {
  color: var(--hover-color);
  font-weight: bold;
}

.menuIcon {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navLists {
    position: absolute;
    top: 70px;
    left: 0%;
    width: 100%;
    /* height: 98vh; */
    z-index: 1;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    display: none;
    overflow: hidden;
    padding: 30px 0px;
  }

  .navLists.active {
    display: flex;
    transition: all 0.2s ease;
  }

  .menuIcon {
    display: block;
  }
}

/* heroSection */
.heroContainer {
  /* border: var(--border); */
  position: relative;
  width: 98%;
  margin: auto;
  margin-top: 1%;
  /* border-radius: 10px; */
}
.heroSlider {
  overflow: hidden;
  height: 500px;
}
.heroSliding {
  height: 400px;
  display: flex;
  transition: transform 0.6s ease;
}
.heroSlide {
  min-width: 100%;
  position: relative;
}
.heroSlide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.heroContent {
  /* border: var(--border); */
  position: absolute;
  top: 30px;
  color: var(--text-color);
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.heroContent h1 {
  font-size: var(--hero-title);
  font-weight: 700;
}
.heroContent h2 {
  font-size: var(--hero-subtitle);
  font-weight: 500;
}
.heroContent p {
  font-size: var(--hero-desc);
  font-weight: 400;
}
.heroContent button {
  /* border: var(--border); */
  width: 50%;
  padding: 10px 5px;
  border: none;
  outline: none;
  font-size: var(--button);
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
  background: linear-gradient(45deg, hsl(210, 80%, 45%), #ffffff);
}
.heroContent button:hover {
  background-color: var(--hover-color);
  font-weight: 600;
}
.heroContent button a {
  text-decoration: none;
  color: inherit;
}

.heroBtn {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.heroBtn .button {
  /* border: var(--border); */
  padding: 10px 8px;
  font-size: 36px;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  outline: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
.heroBtn .button:hover {
  color: var(--hover-color);
}
.heroDots {
  /* border: var(--border); */
  position: absolute;
  top: 470px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
}
.active {
  background-color: var(--bg-color);
}

/* contentSection */
.skillContainer {
  width: 98%;
  margin: auto;
  margin-top: 2%;
  /* border: var(--border); */
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text-color);
  padding: 10px 0px;
}
.skillContent,
.projectContent,
.aboutContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.skillTitle {
  font-size: var(--hero-title);
  font-weight: 600;
}
.borderStyle {
  width: 80%;
  margin: auto;
  width: 300px;
  height: 2px;
  border-radius: 50px;
  background: linear-gradient(
    to Right,
    transparent,
    var(--text-color),
    var(--text-color),
    transparent
  );
}
.skillDesc {
  font-size: var(--hero-desc);
  font-weight: 400;
}
.skillCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 10px 0px;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.card:hover {
  transform: scale(0.95);
}
.cardHeading {
  font-size: var(--hero-desc);
  font-weight: 500;
}

/* contentSection */
.projectContainer {
  width: 98%;
  margin: auto;
  margin-top: 2%;
  /* border: var(--border); */
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 10px 0px;
}
.projectList {
  color: var(--text-color);
  display: flex;
  gap: 30px;
}
.projectList button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 15px;
}
.projectList button a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
  transition: all 0.2s ease;
}
.projectList button a:hover {
  color: var(--hover-color);
}

@media screen and (max-width: 768px) {
  .projectList {
    display: flex;
    gap: 10px;
  }
  .projectList button a {
    font-size: 16px;
  }
}
.projectHeading {
  text-align: center;
  color: var(--text-color);
}
.projectCard {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.proCard {
  border: var(--border);
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 8px;
}
.proCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}
.proContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 5px 8px;
}
.proDesc {
  color: var(--text-color);
  font-size: var(--small-text);
  text-align: center;
}
.techStack {
  color: var(--text-color);
  font-size: var(--small-text);
  text-align: center;
}
.btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.btn button {
  width: 100%;
  padding: 5px 8px;
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn button:hover {
  transform: translateY(-2px);
  background: var(--hover-color);
  color: var(--text-color);
}
.btn button a {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.proTitle {
  color: var(--text-color);
  text-align: center;
}

/* About Section */
.aboutContainer {
  width: 98%;
  margin: auto;
  margin-top: 2%;
  /* border: var(--border); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0px;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aboutHeading {
  text-align: center;
  color: var(--text-color);
}
.aboutDesc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px 15px;
}
.aboutleftSection,
.aboutRightSection {
  color: var(--text-color);
}
.aboutleftSection {
  position: relative;
}
.aboutleftSection::before {
  position: absolute;
  content: "";
  inset: 0;
  background: url("assets/59271.jpg") center center/cover no-repeat;
  filter: blur(0.2px);
}
.aboutProImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.aboutProImage img {
  width: 98%;
  z-index: 1;
}
.aboutRightSection {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 25px;
  padding: 40px 30px;
  background: linear-gradient(to right, #01414d, #848484);
}
.aboutRightSection .mainIntro {
  font-size: var(--hero-desc);
  line-height: 30px;
}
.mainSkillHighl {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  margin-bottom: 5px;
}

.resumeBtn button {
  padding: 10px 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #6185d8, #ffffff91);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: -8px 8px 20px 2px hsl(0, 0%, 0%);
}
.resumeBtn button:hover {
  background: var(--hover-color);
  transform: translateY(-1px);
}
.resumeBtn button a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

/* contactSection */
.contactContainer {
  width: 98%;
  margin: auto;
  /* border: var(--border); */
  margin-top: 2%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: url("assets/contact-us.jpg") center center/cover no-repeat;
}
.contactContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
}
.contHeading {
  font-size: 35px;
}
.conPara {
  font-size: 18px;
}
.contContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  padding: 25px 45px;
}
.conLeftSide,
.conRightSide {
  /* border: var(--border); */
  border-radius: 10px;
  box-shadow: inset 0px 0px 2px 1px hsl(0, 0%, 100%);
  height: 580px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 0px 50px;
}
.conTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.conTitle h2 {
  font-size: 35px;
  color: var(--text-color);
}
.borderStyles {
  width: 100%;
  /* margin: auto; */
  height: 2px;
  border-radius: 50px;
  background: linear-gradient(
    to Right,
    transparent,
    var(--text-color),
    var(--text-color),
    transparent
  );
}
.listItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  color: var(--text-color);
}
.listItem li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: bold;
}
.listItem li i {
  font-size: 32px;
}
.listItem li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}
.listItem li a:hover {
  color: var(--hover-color);
}

.message {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.message input {
  padding: 15px 5px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  border: var(--border);
  font-size: 16px;
}
.message textarea {
  padding: 10px 5px;
  border: none;
  outline: none;
  border: var(--border);
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
  font-family: var(--font-family);
}
.message input::placeholder,
.message textarea::placeholder {
  color: grey;
}
.message button {
  width: 50%;
  margin: auto;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.2s ease;
  background: linear-gradient(to right, #6185d8, #ffffff91);
  color: var(--text-color);
}
.message button:hover {
  background-color: var(--hover-color);
  color: #111;
  transform: translateY(-1px);
}

@media screen and (max-width: 500px) {
  .contContent {
    padding: 28px 20px;
  }
  .conTitle h2 {
    font-size: 22px;
  }
  .message {
    width: 100%;
  }
  .message button {
    width: 100%;
    font-size: 18px;
  }
}

/* Footer Section */
.footerContainer {
  width: 100%;
  height: 8vh;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  color: var(--text-color);
}
.footHeading {
  font-size: 16px;
}
